@media (min-width: 320px) and (max-width: 767px){
	
/*Header*/
#home .img-responsive{
	display:block;
	margin:auto;
}

#home h3{
	display: block;
	margin: auto;
	text-align: center;
}

#home ul {
	display: block;
	margin: auto;
	text-align: center;
}
/*Features*/
.features-item {
	margin-bottom: 10%;
}
.features-item p{
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}
#notified h3{
	margin-left: 25%;
	text-align: center;
}

#notified p{
	margin-left: 10%;
	
	text-align: center;
}

#notified form{
	width: 100%;
	margin-left: 10%;
	margin-right: 15%;
}


iframe{

	width: 100%;
	max-width: 560px;
	margin: auto;
	padding-top: 5%;
}



}

@media only screen and (min-width: 768px) and (max-width: 959px){}
@media only screen and (min-width: 960px) and (max-width: 1200px){}
